<section class="data-grid">
  <div class="data-grid__toolbar">
    <div class="data-grid__heading">
        <h2 class="data-grid__title">Starship directory</h2>

        <span class="data-grid__count">
          {{ allRows().length }} records
        </span>
      </div>

    <label class="search-input">
      <span class="search-input__icon">
        <app-icon name="search" [size]="18" />
      </span>

      <input
        type="search"
        placeholder="Search starships..."
        (input)="updateFilterInput($any($event.target).value)"
        class="search-input__field"
      />
    </label>
  </div>

  <div
    #tableContainer
    class="virtual-table-scroll"
    (scroll)="onScroll($event)"
  >
    <table
      [style.width.px]="table.getTotalSize()"
      class="data-table"
      aria-label="Star Wars Starships"
    >
      <thead class="data-table__head">
        @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
          <tr>
            @for (header of headerGroup.headers; track header.id) {
              <th
                class="data-table__header"
                [style.width.px]="header.getSize()"
              >
                <span class="flex justify-between">
                  {{ header.column.columnDef.header }}
                  @if(isEditableColumn(header.column.columnDef)) {
                    <app-icon name="edit" [size]="16" />
                  }
                </span>

                @if (header.column.getCanResize()) {
                  <div
                    (mousedown)="header.getResizeHandler()($event)"
                    (touchstart)="header.getResizeHandler()($event)"
                    class="column-resizer"
                    [class.column-resizer--active]="header.column.getIsResizing()"
                  ></div>
                }
              </th>
            }
          </tr>
        }
      </thead>

      <tbody
        class="virtual-table-body"
        [style.height.px]="totalTableBodySize()"
      >
        @if (allRows().length === 0) {
          <tr>
            <td colspan="5" class="data-table__empty">
                <div class="empty-state__icon">
                  <app-icon name="search" [size]="22" />
                </div>
                <p class="empty-state__title">No starships found</p>

            </td>
          </tr>
        } @else {
          @for (virtualRow of virtualRows(); track virtualRow.key) {
            @let row = allRows()[virtualRow.index];

            @if (row) {
              <tr
                class="virtual-table-row data-table__row"
                [style.transform]="'translateY(' + virtualRow.start + 'px)'"
              >
                @for (cell of row.getAllCells(); track cell.id) {
                  <td
                    class="data-table__cell"
                    [style.width.px]="cell.column.getSize()"
                    [class.data-table__cell--dirty]="isDirty(row.id)"
                  >
                    @if (isEditableColumn(cell.column.columnDef)) {
                      @if (isEditingCell(row.id, cell.column.id)) {
                        <input
                          appAutofocus
                          class="cell-input"
                          [value]="draftValue()"
                          (input)="draftValue.set($any($event.target).value)"
                          (blur)="commitEdit(row.id, cell.column.id)"
                          (keydown.enter)="commitEdit(row.id, cell.column.id)"
                          (keydown.escape)="cancelEdit()"
                        />
                      } @else {
                        <span
                          class="editable-cell"
                          (click)="
                            startEdit(
                              row.id,
                              cell.column.id,
                              cell.getValue()
                            )
                          "
                        >
                          <span class="editable-cell__value">
                            {{ cell.getValue() }}
                          </span>
                          <span class="editable-cell__hint">
                            Click to edit
                          </span>
                        </span>
                      }
                    } @else {
                      <span class="data-table__value">
                      @if (cell.column.columnDef.id === 'hyperdrive_rating') {
                        <span class="inline-flex items-center gap-2">
                          <app-icon name="star" [size]="14" />
                          <span>{{ cell.getValue() }}</span>
                        </span>
                      } @else {
                        {{ cell.getValue() }}
                      }
                    </span>
                    }
                  </td>
                }
              </tr>
            }
          }
        }
      </tbody>
    </table>
  </div>

  @if (dirtyRowsCount() > 0) {
    <div class="save-bar">
      <div class="save-bar__info">
        <div class="save-bar__indicator"></div>

        <div>
          <p class="save-bar__title">
            {{ dirtyRowsCount() }} unsaved change(s)
          </p>

          <p class="save-bar__description">
            Your edits are currently stored locally.
          </p>
        </div>
      </div>

      <button
        type="button"
        class="save-bar__button"
      >
        Save changes
      </button>
    </div>
  }
</section>